*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--correct-color: #538d4e;
	--incorrect-color: rgb(124, 124, 124);
	--present-color: #b59f3b;

	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
	background-color: rgb(55, 55, 55);
	display: grid;
	place-items: center;
	color: white;
}

#results {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 2rem;
}

.row {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.letter {
	width: 6.125rem;
	height: 6.125rem;
	border-radius: 5px;
	border: 2px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;

	&.correct {
		background-color: var(--correct-color);
	}
	&.present {
		background-color: var(--present-color);
	}
	&.wrong {
		background-color: var(--incorrect-color);
	}
}

#letter-inputs {
	margin-top: 10rem;

	display: flex;
	flex-direction: column;
	gap: 10px;

	.row {
		gap: 10px;
	}
}

.letter-btn {
	font-size: x-large;
	background-color: var(--incorrect-color);
	padding: 1rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	cursor: pointer;

	&.square {
		width: 3rem;
	}

	&:hover {
		background-color: rgb(89, 89, 89);
	}
}
